@font-face {
    font-family: 'Dited';
    src: url('Dited.woff2') format('woff2'),
        url('Dited.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Object Sans';
    src: url('ObjectSans-Regular.woff2') format('woff2'),
        url('ObjectSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LED Counter 7';
    src: url('assets/fonts/LEDCounter7.woff2') format('woff2'),
        url('assets/fonts/LEDCounter7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    /* makesnd cassette */
    
    position: absolute;
    width: 695px;
    height: 200px;
    left: 723px;
    top: 0px;

    font-family: Dited;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 100%;
    /* or 140px */

    letter-spacing: 0.05em;
    text-transform: lowercase;

    color: rgba(45, 45, 45, 0.83);

    text-shadow: 1px 1px 1px #E5E5E5;   
}

.label_YYYY {
/* Mille Plateaux, 1999 */

position: absolute;
width: 494px;
height: 40px;
left: 72px;
top: 50px;

font-family: LEDCounter7;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 126%;
/* or 43px */
letter-spacing: 0.07em;
color: #000000;
}

.cassette-cover {
    position: absolute;
    width: 521px;
    height: 530px;
    left: 72px;
    top: 147px;

    background: url(mksnd.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.first-par { 
    position: absolute;
    width: 673px;
    height: 389px;
    left: 701px;
    top: 440px;
    
    font-family: Object Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    margin-bottom: 30px;
    letter-spacing: 0.05em;
    font-feature-settings: 'kern' off;
    
    color: #000000;
   }

   .second-par { 
    position: absolute;
    width: 673px;
    height: 389px;
    left: 701px;
    top: 670px;
    
    font-family: Object Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    margin-bottom: 30px;
    letter-spacing: 0.05em;
    font-feature-settings: 'kern' off;
    
    color: #000000;
   }